<div class='container'>
  <div class="lateral">
    <aside class='user-inf'>
      <a href='/edit/{{user._id}}'><i class="fas fa-user-circle"></i> My Account</a>
      <a href='/trip/list'><i class="fas fa-car"></i> Find Car</a>
      <a href='/trip/add'><i class="fas fa-taxi"></i> Sharing Car</a>
      <a href='/trip/myTrips/{{user._id}}'><i class="fas fa-map-marked-alt"></i> My Trip</a>
    </aside>
  </div>
  <div class='container-med'>

    <div class='trip'>
      <h2>{{trip.title}}</h2>
      <div class='details-box pick'>
        <h3>Pick up location</h3>
        <p id='origin'>{{trip.origin}}</p>
        <p>{{date}} {{trip.time}}</p>

      </div>

      <div class='details-box drop'>
        <h3>Drop off location</h3>
        <p id='destin'>{{trip.destination}}</p>
        <p>{{date}} {{trip.time}}</p>


      </div>

      <div class='trip-info'>

        <p><span>Passengers:
            {{#each trip.passengers}}
          </span>{{username}}</p>
        {{/each}}
        <p><span>Smoker: </span>{{smoker}}</p>
        <p><span>Car: </span>{{trip.carType}}</p>
        <p><span>Description:</span> {{trip.description}}</p>

      </div>

      {{#if owner}}
      <a href="/trip/edit/{{trip._id}}" class="button">Edit</a>
      <a href="/trip/delete/{{trip._id}}" class="btn-dele">Delete</a>

      {{else}}
      <a href="/trip/join/{{trip._id}}" class="button">Join</a>
      {{/if}}
      {{#if message}}
      <div class="mgs">
        {{message}}
      </div>
      {{/if}}


    </div>
    <div class='map'>
      <figure id='map'></figure>
      <div class='grey-mask'></div>
      <div id='right-panel'>
        <p>Total Distance: <span id='total'></span></p>
      </div>
    </div>

  </div>
