<div class='container'>
  <div class="lateral">
    <aside class='user-inf'>
      <a href='/edit/{{user._id}}'><i class="fas fa-user-circle"></i> My Account</a>
      <a href='/trip/list'><i class="fas fa-car"></i> Find Car</a>
      <a href='/trip/add'><i class="fas fa-taxi"></i> Sharing Car</a>
      <a href='/trip/myTrips/{{user._id}}'><i class="fas fa-map-marked-alt"></i> My Trip</a>
    </aside>
  </div>
  <div class='container-med'>

    <form action="/trip/edit/{{trip._id}}" method="post" class="form-user-2" enctype="multipart/form-data">

      <div class="box-left-2">
        <h2>Edit trip -{{trip.title}}-</h2>
        <div class="form-group user-label">
          <label for="origin">origin:</label>
          <input type="text" name="origin" class="form-control" value="{{trip.origin}}">
        </div>

        <div class="form-group user-label">
          <label for="destination">Destine:</label>
          <input type="text" name="destination" class="form-control" value="{{trip.destination}}">
        </div>

        <div class="form-group user-label">
          <label for="day">Day:</label>
          <input type="date" name="day" class="form-control" value="{{trip.day}}">
        </div>

        <div class="form-group user-label">
          <label for="time">Time:</label>
          <input type="time" name="time" class="form-control" value="{{trip.time}}">
        </div>
      </div>

      <div class="box-right">

        <div class="form-group user-label">
          <input type="number" name="maxPassengers" class="form-control" placeholder="&#xf0c0;   maxPassengers"
            value="{{trip.passengers}}">
        </div>

        <div class="form-group user-label smo-pre">
          <p>price:</p>
          <select name="price">
            <option value="3€">3 €</option>
            <option value="5€">5 €</option>
            <option value="8€">8 €</option>
          </select>

          <label for="smoker">smoker:</label>
          <input type="checkbox" name="smoker" class="form-control">

        </div>
        <div class="form-group user-label">
          <input type="text" name="carType" class="form-control" value="{{trip.carType}}" placeholder="&#xf1b9;   car">
        </div>
        <div class="form-group user-label">
          <label for="description"></label>
          <textarea name="description" id="description" cols="40" rows="10" placeholder="&#xf120;   message"
            value="{{trip.description}}"></textarea>
        </div>
        <button type="submit">Edit</button>

        {{#if message}}
        <div class="mgs">
          {{message}}
        </div>
        {{/if}}
      </div>

    </form>


  </div>

</div>
