<h1>{{trip.title}}</h1>

<p>Origen: <span id='origin'>{{trip.origin}}</span></p>
<p>Destino:<span id='destin'>{{trip.destination}}</span> </p>
<p>Fecha: {{date}}</p>
<p>Hora: {{trip.time}}</p>
<p>Pasajeros: {{trip.passengers}}</p>
<p>Descripción: {{trip.description}}</p>
<p>Fumador: {{smoker}}</p>
<p>Coche: {{trip.carType}}</p>

{{#if owner}}
<p>{{trip.creatorID}}</p>
{{/if}}

{{#each trip.comment}}
<p>{{this}}</p>
{{/each}}


{{#if owner}}
<a href="/trip/edit/{{trip._id}}">Editar viaje</a>
{{/if}}

{{#if user}}
<h3>Comentarios</h3>

<div class="form-group">
  <label for="title">Título:</label>
  <input type="text" name="title" class="form-control"><br><br>
</div>

<div class="form-group">
  <label for="content">Contenido:</label>
  <input type="text" name="content" class="form-control"><br><br>


</div>
{{/if}}
<a href="/trip/list">Ir a Lista</a>

<figure id="map"></figure>
<div id="right-panel">
  <p>Total Distance: <span id="total"></span></p>
</div>