<div class='container'>


  <aside class='user-inf'>
    <a href='/edit/{{user._id}}'><i class="fas fa-user-circle"></i> My Account</a>
    <a href='/trip/list'><i class="fas fa-car"></i> Find Car</a>
    <a href='/trip/add'><i class="fas fa-taxi"></i> Sharing Car</a>
    <a href='/trip/edit'><i class="fas fa-map-marked-alt"></i> My Trip</a>
  </aside>
  <div class='container-med'>

    <div class='trip'>
      <h2>{{trip.title}}</h2>
      <div class='details-box pick'>
        <h3>Pick up location</h3>
        <p id='origin'>{{trip.origin}}</p>
        <p>{{date}} {{trip.time}}</p>

      </div>

      <div class='details-box drop'>
        <h3>Drop off location</h3>
        <p id='destin'>{{trip.destination}}</p>
        <p>{{date}} {{trip.time}}</p>


      </div>

      <div class='trip-info'>

        <p><span>Pasajeros: </span>{{trip.passengers}}</p>
        <p><span>Fumador: </span>{{smoker}}</p>
        <p><span>Coche: </span>{{trip.carType}}</p>
        <p><span>Descripción:</span> {{trip.description}}</p>

      </div>

      {{#if owner}}
      <p>{{trip.creatorID}}</p>
      {{/if}}
      <<<<<<< HEAD {{#each trip.comment}} <p>{{this}}</p>
        {{/each}}


        {{#if owner}}
        <a href='/trip/edit/{{trip._id}}'>Editar viaje</a> {{/if}} {{#if user}} {{!-- <div class='form-group'>
     <h3>Comentarios</h3>
       <label for='title'>Título:</label>
       <input type='text' name='title' class='form-control'>
     </div>

     <div class='form-group'>
       <label for='content'>Contenido:</label>
       <textarea name='content' class='form-control'></textarea>

--}}
    </div> {{/if}}
    <div class='map'>
      <figure id='map'></figure>
      <div class='grey-mask'></div>
      <div id='right-panel'>
        <p>Total Distance: <span id='total'></span></p>
      </div>
    </div>
  </div>
  {{!-- <a href='/trip/list'>Ir a Lista</a> --}}
  =======

  {{#each trip.comment}}
  <p>{{this}}</p>
  {{/each}}


  {{#if owner}}
  <a href="/trip/edit/{{trip._id}}">Editar viaje</a>
  {{/if}}

  {{#if user}}

  {{!-- <div class="form-group">
      <h3>Comentarios</h3>
        <label for="title">Título:</label>
        <input type="text" name="title" class="form-control">
      </div>

      <div class="form-group">
        <label for="content">Contenido:</label>
        <textarea name="content" class="form-control"></textarea>

 --}}
</div>
{{/if}}
<div class="map">
  <figure id="map"></figure>
  <div class="grey-mask"></div>
  <div id="right-panel">
    <p>Total Distance: <span id="total"></span></p>
  </div>
</div>
</div>
{{!-- <a href="/trip/list">Ir a Lista</a> --}}
>>>>>>> 7da94a3ce3bc5a41630838697de64a7dd669885d


</div>

<<<<<<< HEAD </div>=======</div>>>>>>>> 7da94a3ce3bc5a41630838697de64a7dd669885d
