<article class="card">
  <div class="card-body">
    <div class="card-img">
      <img class="card-img-top" src="{{creatorID.imgPath}}" alt="user image">
    </div>
    <div class="card-text">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text"><span>From: </span> {{origin}}</p>
      <p class="card-text"><span>To: </span> {{destination}}</p>
      <p class="card-text"><span>Price: </span> {{price}}</p>
      <p class="card-text"><span>Number of Passengers: </span> {{maxPassengers}}</p>
      <a href="/trip/detail/{{this._id}}" class="button">Detalles</a>
    </div>
  </div>
</article>
